
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.profile{
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    background-image: url('/salao-wallpaper.jpg'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-size: cover; /* Faz a imagem ocupar toda a área, mantendo a proporção */
    background-position: center; /* Centraliza a imagem */
    
}

.profile-text{
    width: 40%;
    padding:8% ;
}

.profile-text h1{
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 18px;
}

.profile-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}

.profile-img img{
    height: auto;
    width: 50%;
    border-radius: 80%;
    border: solid 5px red;
}

@media (max-width: 425px){
    .profile{
        display: flex;
        flex-direction: column-reverse;
        
    }

    .profile-text{
        width: 90%;
    }

    .profile-img{
        width: 100%;
    }
}